@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

.image-text {
    position: absolute;
    top: 50%;  /* centers vertically */
    left: 50%; /* centers horizontally */
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow to the text for better readability */
  }
  

#petName {
    position: absolute;
    top: 440px;  
    left: 760px; 
    transform: translate(-50%, -50%);
    color: #33334d;
    font-family: 'Delius', cursive;;
    font-size: 55px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow to the text for better readability */
  }
  
#birthday {
  position: absolute;
  top: 585px;  
  left: 560px; 
  transform: translate(-50%, -50%);
  color: #33334d;
  font-family: 'Delius', cursive;;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow to the text for better readability */
  } 


#birthmonth {
  position: absolute;
  top: 585px;  
  left: 950px; 
  transform: translate(-50%, -50%);
  color: #33334d;
  font-family: 'Delius', cursive;;
  font-size: 38px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow to the text for better readability */
  }  

  
#birthyear {
  position: absolute;
  top: 585px;  
  left: 1120px; 
  transform: translate(-50%, -50%);
  color: #33334d;
  font-family: 'Delius', cursive;;
  font-size: 38px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow to the text for better readability */
  }
  

#breed {
  position: absolute;
  top: 710px;  
  left: 460px; 
  transform: translate(-50%, -50%);
  color: #33334d;
  font-family: 'Delius', cursive;;
  font-size: 29px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow to the text for better readability */
  }

#gender {
  position: absolute;
  top: 710px;  
  left: 1055px; 
  transform: translate(-50%, -50%);
  color: #33334d;
  font-family: 'Delius', cursive;;
  font-size: 29px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow to the text for better readability */
  }

#parent {
  position: absolute;
  top: 840px;  
  left: 760px; 
  transform: translate(-50%, -50%);
  color: #33334d;
  font-family: 'Delius', cursive;;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow to the text for better readability */
  }
  







div#formDiv {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 250px 0px 0px 0px;
}
h1#puppyInputLabel{
    font-size: 67px;
    font-weight: 350;
    margin: 0px 0px 20px 0px;
}
input#puppyFormInput{
    height: 45px;
    width: 500px;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;

}
#nextBtn {
    margin: 20px 0px 0px 0px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #ff7f50;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 900;
}

select.dateSelector{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 0px 2px 0px 2px;
    border-radius: 5px;
}
